.card{
	border: 4px solid #841411;
	border-radius: 4px;
	padding: 5px;

    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 10px;

}
.profile-pic {
	max-width: 100%
}
.ourprogress {
	background-color: black ; 
}
.myprogress {
	background-color: red ; 
}
.mycard{
	border: 4px solid #210707;
	border-radius: 4px;
	padding: 5px;

    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 10px;
}